<!-- Menu lateral -->
<app-menu></app-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <ion-list *ngIf="favorites.length > 0; else noFavorites">
    <ion-item *ngFor="let pokemon of favorites" (click)="openDetails(pokemon)">
      <ion-avatar slot="start">
        <img [src]="pokemon.image" [alt]="pokemon.name" />
      </ion-avatar>

      <ion-label>
        <h2>{{ pokemon.name | titlecase }}</h2>
      </ion-label>

      <ion-button
        fill="clear"
        color="danger"
        slot="end"
        (click)="removeFavorite(pokemon); $event.stopPropagation()"
      >
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #noFavorites>
    <ion-text class="ion-text-center ion-padding">
      Nenhum Pokémon favorito ainda.
    </ion-text>
  </ng-template>
</ion-content>
