<!-- Menu lateral -->
<app-menu></app-menu>

<!-- Header da Pag. -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionInput)="searchPokemons()"
      placeholder="Buscar Pokémon"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<!-- Conteudo da Pag. -->
<ion-content id="main-content">
  <ion-list>
    <ion-item *ngFor="let pokemon of pokemons" (click)="openDetails(pokemon)">
      <ion-avatar slot="start">
        <img [src]="pokemon.image" [alt]="pokemon.name" />
      </ion-avatar>

      <ion-label>
        <h2>{{ pokemon.name | titlecase }}</h2>
      </ion-label>

      <ion-button
        fill="clear"
        slot="end"
        (click)="toggleFavorite(pokemon); $event.stopPropagation()"
        [color]="pokemon.isFavorite ? 'danger' : 'medium'"
      >
        <ion-icon
          slot="icon-only"
          [name]="pokemon.isFavorite ? 'heart' : 'heart-outline'"
          style="font-size: 32px;"
        ></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Paginação: Infinite Scroll com este tipo de paginação 
   sempre que chegar ao fim da tela ele carrega mais pokemons (achei mais pratico)-->
  <ion-infinite-scroll (ionInfinite)="loadPokemons($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando mais Pokémons..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
